.mem-greeting {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.mem-img {
  width: 150px;
  height: 150px;
}

.outer-grid {
  display: flex;
  justify-content: center;
  margin: 0 30%;
}

.block-img {
  
  color: #00b5ad;
}