.whoTitle{
    padding: 10%;
    color: blue;
}

.overlay{
  opacity:0.8;
  background-image: url("../images/Homepage.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.user-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 55px;
}

.user-buttons button {
  background-color: #00b5ad;
  color: #ffffff;
  text-decoration: none;
  border: 3px solid #008e87;
  font-size: 40px;
  font-weight: bold;
  margin: 10px 5px;
  padding: 45px 20px;
  width: 200px;
  cursor: pointer;
  border-radius: 10%;
  text-align: center;
}

.user-buttons button:hover {
  background-color: #00c9bf;
  border: 3px solid #00c9bf;
}

.signUp{
  margin: 10%;
}

.bgImage{
  background-image: url(../images/Homepage.png);
}

.welcome-msg {
  font-size: 50px;
  display: flex;
  justify-content: center;
}

.see-name {
  font-size: 30px;
}

.enter-user {
  padding: 10px 5px;
  margin: 7px 0;
}